# LangChain Core
langchain
langchain-core
langchain-chroma

# OpenAI Integration
#langchain-openai
#openai

# Anthropic Integration
#langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

"""qa_prompt = ChatPromptTemplate.from_messages([
    ("system", (
        "You are an Professional Visa Consultant specializing in {country}. "
        "User Profile: {user_details}\n\n"
        "Analyze the user profile ONLY against the CONTEXT and RETRIEVED INFORMATION.\n"
        "At the end when user has provided the necessary details\n"
        "Assess user profile of being eligible for visa or not based on the relevance score\n"
        "Don't make your own answers to answer user query."
        "Use provided CONTEXT ONLY"
        "If you don't know the answer just say you don't know"
    )),
    MessagesPlaceholder(variable_name="chat_history"),
    ("human", "Context: {context}\n\nQuestion: {input}"),
])"""
